In [1]:
import pandas as pd

In [80]:
my_data = pd.read_csv("assignment.csv")

In [81]:
my_data

,Unnamed: 0,IMBD title ID,Original titlÊ,Release year,Genrë¨,Duration,Country,Content Rating,Director,Unnamed: 8,Income,Votes,Score
0,0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,NaN,$ 28815245,2.278.845,9.3
1,1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,NaN,$ 246120974,1.572.674,9.2
2,2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,NaN,$ 1005455211,2.241.615,9.
3,3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,NaN,"$ 4o8,035,783",1.098.714,"9,.0"
4,4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,NaN,$ 222831817,1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,NaN,$ 156000000,236.285,7.5
97,97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,NaN,$ 11487676,226.427,7.5
98,98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,NaN,$ 15000000,226.039,7.4
99,99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,NaN,$ 22926076,214.165,7.4
100,100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,NaN,$ 1864182,213.152,7.4

In [82]:
my_data.info()
my_data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      101 non-null    int64
 1   IMBD title ID   100 non-null    object
 2   Original titlÊ  100 non-null    object
 3   Release year    100 non-null    object
 4   Genrë¨          100 non-null    object
 5   Duration        99 non-null     object
 6   Country         100 non-null    object
 7   Content Rating  77 non-null     object
 8   Director        100 non-null    object
 9   Unnamed: 8      0 non-null      float64
 10  Income          100 non-null    object
 11   Votes          100 non-null    object
 12  Score           100 non-null    object
dtypes: float64(1), int64(1), object(11)
memory usage: 10.4+ KB

       Unnamed: 0  Unnamed: 8
count  101.000000         0.0
mean    50.000000         NaN
std     29.300171         NaN
min      0.000000         NaN
25%     25.000000         NaN
50%     50.000000         NaN
75%     75.000000         NaN
max    100.000000         NaN

To Do:

.Change column names

.Remove the first column it repeats the index

.Remove One row it's completely empty

.Delete non english symbols in columns (at least I noticed Cyrillic characters there)

.Put all dates in the dd/mm/yyyy format

.Put all durations in minutes

.Put the country column in order

.Blank cell, "non rated" and "unrated" is actually the same in rating column

.Drop "unnamed: 8" column

.Put votes to int

.Put income to float without dollar sign

.Put score to float

.Spit imbd_id column

. Split genre column

In [83]:
# droping  and "unnamed: 8" columns
del my_data['Unnamed: 0']
del my_data['Unnamed: 8']

my_data

,IMBD title ID,Original titlÊ,Release year,Genrë¨,Duration,Country,Content Rating,Director,Income,Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,$ 156000000,236.285,7.5
97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,$ 11487676,226.427,7.5
98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,$ 15000000,226.039,7.4
99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214.165,7.4
100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,$ 1864182,213.152,7.4

In [84]:
my_data

,IMBD title ID,Original titlÊ,Release year,Genrë¨,Duration,Country,Content Rating,Director,Income,Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,$ 156000000,236.285,7.5
97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,$ 11487676,226.427,7.5
98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,$ 15000000,226.039,7.4
99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214.165,7.4
100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,$ 1864182,213.152,7.4

In [85]:
# Changing weird column names

new_columns = [
    'imbd_id', 
    'title', 
    'release_year', 
    'genre', 
    'duration', 
    'country', 
    'content_rating', 
    'director', 
    'income', 
    'votes', 
    'score'
]

my_data.columns = new_columns
my_data

,imbd_id,title,release_year,genre,duration,country,content_rating,director,income,votes,score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,$ 156000000,236.285,7.5
97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,$ 11487676,226.427,7.5
98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,$ 15000000,226.039,7.4
99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214.165,7.4
100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,$ 1864182,213.152,7.4

In [86]:
# Remove empty row

my_data.dropna(how='all', inplace=True)
my_data

,imbd_id,title,release_year,genre,duration,country,content_rating,director,income,votes,score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,$ 156000000,236.285,7.5
97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,$ 11487676,226.427,7.5
98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,$ 15000000,226.039,7.4
99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214.165,7.4
100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,$ 1864182,213.152,7.4

In [87]:
# Remove symbols besides English characters, numbers and punctuation

import re
columns_to_clean = ['title', 'genre', 'director']
for col in columns_to_clean:
    my_data[col] = my_data[col].apply(lambda text: re.sub(r'[^\x00-\x7F]+', '', text))
my_data

,imbd_id,title,release_year,genre,duration,country,content_rating,director,income,votes,score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,$ 156000000,236.285,7.5
97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,$ 11487676,226.427,7.5
98,tt0059578,Per qualche dollaro in pi,1965-12-20,Western,132,Italy,NaN,Sergio Leone,$ 15000000,226.039,7.4
99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214.165,7.4
100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,$ 1864182,213.152,7.4

In [88]:
# Clean date column

my_data['new_date'] = pd.to_datetime(my_data['release_year'], errors='coerce')
my_data

C:\Users\HP 840 G3\AppData\Local\Temp\ipykernel_3984\3266933428.py:3: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  my_data['new_date'] = pd.to_datetime(my_data['release_year'], errors='coerce')

,imbd_id,title,release_year,genre,duration,country,content_rating,director,income,votes,score,new_date
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3,1995-02-10
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2,1972-09-21
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.,2008-07-23
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0",1975-09-25
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f",1994-10-28
...,...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,$ 156000000,236.285,7.5,1974-03-21
97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,$ 11487676,226.427,7.5,1982-03-18
98,tt0059578,Per qualche dollaro in pi,1965-12-20,Western,132,Italy,NaN,Sergio Leone,$ 15000000,226.039,7.4,1965-12-20
99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214.165,7.4,2011-10-21
100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,$ 1864182,213.152,7.4,1953-02-05

In [89]:
my_data[my_data.new_date.isna()]

,imbd_id,title,release_year,genre,duration,country,content_rating,director,income,votes,score,new_date
70,tt0043014,Sunset Blvd.,"The 6th of marzo, year 1951","Drama, Film-Noir",110,USA,NaN,Billy Wilder,$ 299645,195.789,8.0,NaT
83,tt0086250,Scarface,1984-02-34,"Crime, Drama",170,USA,R,Brian De Palma,$ 66023585,721.343,7.8,NaT
84,tt0075314,Taxi Driver,1976-13-24,"Crime, Drama",114,USA,R,Martin Scorsese,$ 28441292,703.264,7.7,NaT

In [90]:
my_data.loc[70, 'release_year'] = '1951-03-06'
my_data['new_date'] = pd.to_datetime(my_data['release_year'], errors='coerce')
my_data[my_data.new_date.isna()]

C:\Users\HP 840 G3\AppData\Local\Temp\ipykernel_3984\27552932.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  my_data['new_date'] = pd.to_datetime(my_data['release_year'], errors='coerce')

,imbd_id,title,release_year,genre,duration,country,content_rating,director,income,votes,score,new_date
83,tt0086250,Scarface,1984-02-34,"Crime, Drama",170,USA,R,Brian De Palma,$ 66023585,721.343,7.8,NaT
84,tt0075314,Taxi Driver,1976-13-24,"Crime, Drama",114,USA,R,Martin Scorsese,$ 28441292,703.264,7.7,NaT

In [91]:
# two row have mistakes in dates, so let's remove it
my_data.dropna(subset=['new_date'], inplace=True)
my_data

,imbd_id,title,release_year,genre,duration,country,content_rating,director,income,votes,score,new_date
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3,1995-02-10
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2,1972-09-21
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.,2008-07-23
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0",1975-09-25
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f",1994-10-28
...,...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,$ 156000000,236.285,7.5,1974-03-21
97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,$ 11487676,226.427,7.5,1982-03-18
98,tt0059578,Per qualche dollaro in pi,1965-12-20,Western,132,Italy,NaN,Sergio Leone,$ 15000000,226.039,7.4,1965-12-20
99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214.165,7.4,2011-10-21
100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,$ 1864182,213.152,7.4,1953-02-05

In [92]:
# Now lets change the date format
my_data['release_date'] = my_data['new_date'].dt.strftime('%d/%m/%Y')
del my_data['release_year']
del my_data['new_date']
my_data

,imbd_id,title,genre,duration,country,content_rating,director,income,votes,score,release_date
0,tt0111161,The Shawshank Redemption,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3,10/02/1995
1,tt0068646,The Godfather,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2,21/09/1972
2,tt0468569,The Dark Knight,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.,23/07/2008
3,tt0071562,The Godfather: Part II,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0",25/09/1975
4,tt0110912,Pulp Fiction,"Crime, Drama",,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f",28/10/1994
...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,$ 156000000,236.285,7.5,21/03/1974
97,tt0082096,Das Boot,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,$ 11487676,226.427,7.5,18/03/1982
98,tt0059578,Per qualche dollaro in pi,Western,132,Italy,NaN,Sergio Leone,$ 15000000,226.039,7.4,20/12/1965
99,tt1832382,Jodaeiye Nader az Simin,Drama,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214.165,7.4,21/10/2011
100,tt0045152,Singin' in the Rain,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,$ 1864182,213.152,7.4,05/02/1953

In [93]:
# Clean the Duration Column
import numpy as np
my_data['duration'] = my_data['duration'].str.replace(r'\D', '', regex=True)
my_data['duration'] = my_data['duration'].replace('', np.nan)
my_data['duration'] = my_data['duration'].fillna(-1).astype(int) # Filling absent durations as -1
my_data

,imbd_id,title,genre,duration,country,content_rating,director,income,votes,score,release_date
0,tt0111161,The Shawshank Redemption,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3,10/02/1995
1,tt0068646,The Godfather,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2,21/09/1972
2,tt0468569,The Dark Knight,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.,23/07/2008
3,tt0071562,The Godfather: Part II,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0",25/09/1975
4,tt0110912,Pulp Fiction,"Crime, Drama",-1,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f",28/10/1994
...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,$ 156000000,236.285,7.5,21/03/1974
97,tt0082096,Das Boot,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,$ 11487676,226.427,7.5,18/03/1982
98,tt0059578,Per qualche dollaro in pi,Western,132,Italy,NaN,Sergio Leone,$ 15000000,226.039,7.4,20/12/1965
99,tt1832382,Jodaeiye Nader az Simin,Drama,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214.165,7.4,21/10/2011
100,tt0045152,Singin' in the Rain,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,$ 1864182,213.152,7.4,05/02/1953

In [94]:
# Clean the Country Column

my_data['country'] = my_data['country'].str.replace(r'[^a-zA-Z ]', '', regex=True)
replacements = {'New Zeland': 'New Zealand', 'New Zesland': 'New Zealand', 'US': 'USA', 'US.': 'USA'}
my_data['country'] =my_data['country'].replace(replacements)
my_data

,imbd_id,title,genre,duration,country,content_rating,director,income,votes,score,release_date
0,tt0111161,The Shawshank Redemption,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3,10/02/1995
1,tt0068646,The Godfather,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2,21/09/1972
2,tt0468569,The Dark Knight,"Action, Crime, Drama",152,USA,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.,23/07/2008
3,tt0071562,The Godfather: Part II,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0",25/09/1975
4,tt0110912,Pulp Fiction,"Crime, Drama",-1,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f",28/10/1994
...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,$ 156000000,236.285,7.5,21/03/1974
97,tt0082096,Das Boot,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,$ 11487676,226.427,7.5,18/03/1982
98,tt0059578,Per qualche dollaro in pi,Western,132,Italy,NaN,Sergio Leone,$ 15000000,226.039,7.4,20/12/1965
99,tt1832382,Jodaeiye Nader az Simin,Drama,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214.165,7.4,21/10/2011
100,tt0045152,Singin' in the Rain,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,$ 1864182,213.152,7.4,05/02/1953

In [95]:
# Clean the Rating Column

replacements_rating = {'Approved': '', 'Not Rated': '', 'Unrated': '', np.nan: ''}
my_data['content_rating'] = my_data['content_rating'].replace(replacements_rating)
my_data

,imbd_id,title,genre,duration,country,content_rating,director,income,votes,score,release_date
0,tt0111161,The Shawshank Redemption,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3,10/02/1995
1,tt0068646,The Godfather,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2,21/09/1972
2,tt0468569,The Dark Knight,"Action, Crime, Drama",152,USA,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.,23/07/2008
3,tt0071562,The Godfather: Part II,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0",25/09/1975
4,tt0110912,Pulp Fiction,"Crime, Drama",-1,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f",28/10/1994
...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,$ 156000000,236.285,7.5,21/03/1974
97,tt0082096,Das Boot,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,$ 11487676,226.427,7.5,18/03/1982
98,tt0059578,Per qualche dollaro in pi,Western,132,Italy,,Sergio Leone,$ 15000000,226.039,7.4,20/12/1965
99,tt1832382,Jodaeiye Nader az Simin,Drama,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214.165,7.4,21/10/2011
100,tt0045152,Singin' in the Rain,"Comedy, Musical, Romance",103,USA,,Stanley Donen,$ 1864182,213.152,7.4,05/02/1953

In [96]:
# Clean the Votes Column

my_data['votes'] = my_data['votes'].str.replace(r'\D', '', regex=True)
my_data['votes'] = my_data['votes'].replace('', np.nan)
my_data['votes'] = my_data['votes'].fillna(-1).astype(int)
my_data

,imbd_id,title,genre,duration,country,content_rating,director,income,votes,score,release_date
0,tt0111161,The Shawshank Redemption,Drama,142,USA,R,Frank Darabont,$ 28815245,2278845,9.3,10/02/1995
1,tt0068646,The Godfather,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1572674,9.2,21/09/1972
2,tt0468569,The Dark Knight,"Action, Crime, Drama",152,USA,PG-13,Christopher Nolan,$ 1005455211,2241615,9.,23/07/2008
3,tt0071562,The Godfather: Part II,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1098714,"9,.0",25/09/1975
4,tt0110912,Pulp Fiction,"Crime, Drama",-1,USA,R,Quentin Tarantino,$ 222831817,1780147,"8,9f",28/10/1994
...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,$ 156000000,236285,7.5,21/03/1974
97,tt0082096,Das Boot,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,$ 11487676,226427,7.5,18/03/1982
98,tt0059578,Per qualche dollaro in pi,Western,132,Italy,,Sergio Leone,$ 15000000,226039,7.4,20/12/1965
99,tt1832382,Jodaeiye Nader az Simin,Drama,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214165,7.4,21/10/2011
100,tt0045152,Singin' in the Rain,"Comedy, Musical, Romance",103,USA,,Stanley Donen,$ 1864182,213152,7.4,05/02/1953

In [97]:
# Score

my_data['score'] = (my_data['score']
                 .str.replace(r'[,:]', '.', regex=True)
                 .str.lstrip('0')
                 .str.rstrip('.')
                 .str.replace(r'[^\d.]', '', regex=True)
                 .str.replace(r'\.{2,}', '.', regex=True)
                 .astype(float)
                )
my_data

,imbd_id,title,genre,duration,country,content_rating,director,income,votes,score,release_date
0,tt0111161,The Shawshank Redemption,Drama,142,USA,R,Frank Darabont,$ 28815245,2278845,9.3,10/02/1995
1,tt0068646,The Godfather,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1572674,9.2,21/09/1972
2,tt0468569,The Dark Knight,"Action, Crime, Drama",152,USA,PG-13,Christopher Nolan,$ 1005455211,2241615,9.0,23/07/2008
3,tt0071562,The Godfather: Part II,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1098714,9.0,25/09/1975
4,tt0110912,Pulp Fiction,"Crime, Drama",-1,USA,R,Quentin Tarantino,$ 222831817,1780147,8.9,28/10/1994
...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,$ 156000000,236285,7.5,21/03/1974
97,tt0082096,Das Boot,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,$ 11487676,226427,7.5,18/03/1982
98,tt0059578,Per qualche dollaro in pi,Western,132,Italy,,Sergio Leone,$ 15000000,226039,7.4,20/12/1965
99,tt1832382,Jodaeiye Nader az Simin,Drama,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214165,7.4,21/10/2011
100,tt0045152,Singin' in the Rain,"Comedy, Musical, Romance",103,USA,,Stanley Donen,$ 1864182,213152,7.4,05/02/1953

In [98]:
# Income

my_data['income'] = my_data['income'].replace({'o': '0'})
my_data['income'] = my_data['income'].str.replace(r'\D', '', regex=True)
my_data['income'] = my_data['income'].replace('', np.nan)
my_data['income'] = my_data['income'].fillna(-1).astype('int64')
my_data

,imbd_id,title,genre,duration,country,content_rating,director,income,votes,score,release_date
0,tt0111161,The Shawshank Redemption,Drama,142,USA,R,Frank Darabont,28815245,2278845,9.3,10/02/1995
1,tt0068646,The Godfather,"Crime, Drama",175,USA,R,Francis Ford Coppola,246120974,1572674,9.2,21/09/1972
2,tt0468569,The Dark Knight,"Action, Crime, Drama",152,USA,PG-13,Christopher Nolan,1005455211,2241615,9.0,23/07/2008
3,tt0071562,The Godfather: Part II,"Crime, Drama",220,USA,R,Francis Ford Coppola,48035783,1098714,9.0,25/09/1975
4,tt0110912,Pulp Fiction,"Crime, Drama",-1,USA,R,Quentin Tarantino,222831817,1780147,8.9,28/10/1994
...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,156000000,236285,7.5,21/03/1974
97,tt0082096,Das Boot,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,11487676,226427,7.5,18/03/1982
98,tt0059578,Per qualche dollaro in pi,Western,132,Italy,,Sergio Leone,15000000,226039,7.4,20/12/1965
99,tt1832382,Jodaeiye Nader az Simin,Drama,123,Iran,PG-13,Asghar Farhadi,22926076,214165,7.4,21/10/2011
100,tt0045152,Singin' in the Rain,"Comedy, Musical, Romance",103,USA,,Stanley Donen,1864182,213152,7.4,05/02/1953

In [100]:
my_data['imbd_id'].str.split('tt', expand=True)[1]

0      0111161
1      0068646
2      0468569
3      0071562
4      0110912
        ...
96     0070735
97     0082096
98     0059578
99     1832382
100    0045152
Name: 1, Length: 98, dtype: object

In [101]:
my_data['imbd_id'] = my_data['imbd_id'].str.split('tt', expand=True)[1]

In [102]:
my_data

,imbd_id,title,genre,duration,country,content_rating,director,income,votes,score,release_date
0,0111161,The Shawshank Redemption,Drama,142,USA,R,Frank Darabont,28815245,2278845,9.3,10/02/1995
1,0068646,The Godfather,"Crime, Drama",175,USA,R,Francis Ford Coppola,246120974,1572674,9.2,21/09/1972
2,0468569,The Dark Knight,"Action, Crime, Drama",152,USA,PG-13,Christopher Nolan,1005455211,2241615,9.0,23/07/2008
3,0071562,The Godfather: Part II,"Crime, Drama",220,USA,R,Francis Ford Coppola,48035783,1098714,9.0,25/09/1975
4,0110912,Pulp Fiction,"Crime, Drama",-1,USA,R,Quentin Tarantino,222831817,1780147,8.9,28/10/1994
...,...,...,...,...,...,...,...,...,...,...,...
96,0070735,The Sting,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,156000000,236285,7.5,21/03/1974
97,0082096,Das Boot,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,11487676,226427,7.5,18/03/1982
98,0059578,Per qualche dollaro in pi,Western,132,Italy,,Sergio Leone,15000000,226039,7.4,20/12/1965
99,1832382,Jodaeiye Nader az Simin,Drama,123,Iran,PG-13,Asghar Farhadi,22926076,214165,7.4,21/10/2011
100,0045152,Singin' in the Rain,"Comedy, Musical, Romance",103,USA,,Stanley Donen,1864182,213152,7.4,05/02/1953

In [103]:
my_data['genre'].str.split(',', expand=True)[0]

0          Drama
1          Crime
2         Action
3          Crime
4          Crime
         ...
96        Comedy
97     Adventure
98       Western
99         Drama
100       Comedy
Name: 0, Length: 98, dtype: object

In [104]:
my_data['genre'] = my_data['genre'].str.split(',', expand=True)[0]

In [105]:
my_data

,imbd_id,title,genre,duration,country,content_rating,director,income,votes,score,release_date
0,0111161,The Shawshank Redemption,Drama,142,USA,R,Frank Darabont,28815245,2278845,9.3,10/02/1995
1,0068646,The Godfather,Crime,175,USA,R,Francis Ford Coppola,246120974,1572674,9.2,21/09/1972
2,0468569,The Dark Knight,Action,152,USA,PG-13,Christopher Nolan,1005455211,2241615,9.0,23/07/2008
3,0071562,The Godfather: Part II,Crime,220,USA,R,Francis Ford Coppola,48035783,1098714,9.0,25/09/1975
4,0110912,Pulp Fiction,Crime,-1,USA,R,Quentin Tarantino,222831817,1780147,8.9,28/10/1994
...,...,...,...,...,...,...,...,...,...,...,...
96,0070735,The Sting,Comedy,129,USA,PG,George Roy Hill,156000000,236285,7.5,21/03/1974
97,0082096,Das Boot,Adventure,149,West Germany,R,Wolfgang Petersen,11487676,226427,7.5,18/03/1982
98,0059578,Per qualche dollaro in pi,Western,132,Italy,,Sergio Leone,15000000,226039,7.4,20/12/1965
99,1832382,Jodaeiye Nader az Simin,Drama,123,Iran,PG-13,Asghar Farhadi,22926076,214165,7.4,21/10/2011
100,0045152,Singin' in the Rain,Comedy,103,USA,,Stanley Donen,1864182,213152,7.4,05/02/1953